[submodule "pages/docs/handbook"]
	path = pages/docs/handbook
	url = https://github.com/dwarvesf/handbook.git
[submodule "pages/docs/playbook"]
	path = pages/docs/playbook
	url = https://github.com/dwarvesf/playbook.git
